<p id="notice"><%= notice %></p>

<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			  <%= @child_chore.description %>
			</p>
			<p>
				<%= @child_chore.user.name %>
			<p>
			  <b>Reward Points:</b>
			  <%= @child_chore.reward_points %>
			</p>
			
			<% if current_user == @child_chore.user %>
				<%= link_to 'Edit', edit_child_chore_path(@child_chore) %> |
			<% end %>

			<%= link_to 'Back', child_chores_path %>
		</div>
	</div>
</div>